[submodule "dev/pedestrian"]
	path = dev/pedestrian
	url = git@github.com:simoncarrignon/pedestrian.git
[submodule "dev/HETCASave2015_NORTHREAD"]
	path = dev/HETCASave2015_NORTHREAD
	url = git@github.com:Xilrian/HETCASave2015_NORTHREAD.git
[submodule "doc/HETCA-2016"]
	path = doc/conferences/HETCA-2016
	url = git@github.com:Xilrian/HETCA-2016.git
[submodule "dev/stats"]
	path = dev/stats
	url = git@github.com:xrubio/stats.git
[submodule "doc/instrumenta"]
	path = doc/instrumenta
	url = git@github.com:simoncarrignon/instrumenta.git
[submodule "doc/conferences/20160323_CompleNet"]
	path = doc/conferences/20160323_CompleNet
	url = git@github.com:simoncarrignon/20160323_CompleNet.git
[submodule "dev/acacia-coop"]
	path = dev/acacia-coop
	url = git@github.com:simoncarrignon/acacia-coop.git
[submodule "dev/apemcc"]
	path = dev/apemcc
	url = git@github.com:simoncarrignon/apemcc.git
[submodule "doc/apmecc-doc"]
	path = doc/apmecc-doc
	url = git@github.com:simoncarrignon/apmecc-doc.git
[submodule "doc/201605-culture-conf"]
	path = doc/conferences/201605-culture-conf
	url = git@github.com:simoncarrignon/culture-conf-poster.git
[submodule "doc/cours/summerSchool/2016CSSS/tuto-data/jmotif-R"]
	path = doc/cours/summerSchool/2016CSSS/tuto-data/jmotif-R
	url = git@github.com:jMotif/jmotif-R.git
[submodule "dev/trieste/tesseract"]
	path = dev/trieste/tesseract
	url = git@github.com:tesseract-ocr/tesseract.git
[submodule "dev/trieste-lens"]
	path = dev/trieste-lens
	url = git@github.com:simoncarrignon/trieste-lens.git
[submodule "dev/ceeculture"]
	path = dev/ceeculture
	url = git@framagit.org:simoncarrignon/ceeculture.git
[submodule "dev/csss-emerge"]
	path = dev/csss-emerge
	url = git@github.com:simoncarrignon/csss-emerge.git
[submodule "dev/pandora"]
	path = dev/pandora
	url = git@github.com:xrubio/pandora.git
[submodule "dev/abc-pandora"]
	path = dev/abc-pandora
	url = git@framagit.org:simoncarrignon/abc-pandora.git
