[submodule "dev/pedestrian"]
	path = dev/pedestrian
	url = git@github.com:simoncarrignon/pedestrian.git
[submodule "dev/HETCASave2015_NORTHREAD"]
	path = dev/HETCASave2015_NORTHREAD
	url = git@github.com:Xilrian/HETCASave2015_NORTHREAD.git
[submodule "doc/HETCA-2016"]
	path = doc/HETCA-2016
	url = git@github.com:Xilrian/HETCA-2016.git
[submodule "dev/stats"]
	path = dev/stats
	url = git@github.com:xrubio/stats.git
[submodule "doc/instrumenta"]
	path = doc/instrumenta
	url = git@github.com:simoncarrignon/instrumenta.git
[submodule "doc/conferences/20160323_CompleNet"]
	path = doc/conferences/20160323_CompleNet
	url = git@github.com:simoncarrignon/20160323_CompleNet.git
[submodule "dev/acacia-coop"]
	path = dev/acacia-coop
	url = git@github.com:simoncarrignon/acacia-coop.git
[submodule "dev/apemcc"]
	path = dev/apemcc
	url = git@github.com:simoncarrignon/apemcc.git
