[submodule "dev/pedestrian"]
	path = dev/pedestrian
	url = git@github.com:simoncarrignon/pedestrian.git
[submodule "dev/HETCASave2015_NORTHREAD"]
	path = dev/HETCASave2015_NORTHREAD
	url = git@github.com:Xilrian/HETCASave2015_NORTHREAD.git
[submodule "doc/HETCA-2016"]
	path = doc/conferences/HETCA-2016
	url = git@github.com:Xilrian/HETCA-2016.git
[submodule "doc/instrumenta"]
	path = doc/instrumenta
	url = git@github.com:simoncarrignon/instrumenta.git
[submodule "doc/conferences/20160323_CompleNet"]
	path = doc/conferences/20160323_CompleNet
	url = git@github.com:simoncarrignon/20160323_CompleNet.git
[submodule "dev/acacia-coop"]
	path = dev/acacia-coop
	url = git@github.com:simoncarrignon/acacia-coop.git
[submodule "dev/apemcc"]
	path = dev/apemcc
	url = git@github.com:simoncarrignon/apemcc.git
[submodule "doc/apmecc-doc"]
	path = doc/apmecc-doc
	url = git@github.com:simoncarrignon/apmecc-doc.git
[submodule "doc/201605-culture-conf"]
	path = doc/conferences/201605-culture-conf
	url = git@github.com:simoncarrignon/culture-conf-poster.git
[submodule "doc/cours/summerSchool/2016CSSS/tuto-data/jmotif-R"]
	path = doc/cours/summerSchool/2016CSSS/tuto-data/jmotif-R
	url = git@github.com:jMotif/jmotif-R.git
[submodule "dev/trieste/tesseract"]
	path = dev/trieste/tesseract
	url = git@github.com:tesseract-ocr/tesseract.git
[submodule "dev/trieste-lens"]
	path = dev/trieste-lens
	url = git@github.com:simoncarrignon/trieste-lens.git
[submodule "dev/ceeculture"]
	path = dev/ceeculture
	url = git@framagit.org:sc/ceeculture.git
[submodule "dev/csss-emerge"]
	path = dev/csss-emerge
	url = git@github.com:simoncarrignon/csss-emerge.git
[submodule "dev/pandora"]
	path = dev/pandora
	url = git@github.com:xrubio/pandora.git
[submodule "dev/abc-pandora"]
	path = dev/abc-pandora
	url = git@framagit.org:sc/abc-pandora.git
[submodule "dev/Lichen-s-project"]
	path = dev/Lichen-s-project
	url = git@github.com:ainaollevila/Lichen-s-project.git
[submodule "doc/YSLR_Manchester"]
	path = doc/YSLR_Manchester
	url = git@github.com:Mcotsar/YSLR_Manchester.git
[submodule "doc/conferences/201709_CCS/ecc17"]
	path = doc/conferences/201709_CCS/ecc17
	url = https://framagit.org/sc/ecc17
[submodule "dev/wine-competition"]
	path = dev/wine-competition
	url = git@framagit.org:sc/wine-competition.git
[submodule "dev/mn_tools"]
	path = dev/mn_tools
	url = bsc21394@nord3.bsc.es:~/mn_tools.git
[submodule "dev/network-efficiency"]
	path = dev/network-efficiency
	url = git@framagit.org:sc/network-efficiency.git
[submodule "full_projects/icrates_abc"]
	path = full_projects/icrates_abc
	url = git@framagit.org:sc/icrates_abc.git
[submodule "dev/cultural-isolation"]
	path = dev/cultural-isolation
	url = git@framagit.org:sc/cultural-isolation.git
[submodule "dev/spread"]
	path = dev/spread
	url = git@framagit.org:sc/spread.git
[submodule "dev/exp-growth"]
	path = dev/exp-growth
	url = git@framagit.org:sc/exp-growth.git
[submodule "dev/twitter-spread"]
	path = dev/twitter-spread
	url = git@github.com:simoncarrignon/twitter-spread.git
[submodule "doc/conferences/201809_CCS/ecc18"]
	path = doc/conferences/201809_CCS/ecc18
	url = git@framagit.org:sc/ecc18.git
[submodule "dev/pybibnet"]
	path = dev/pybibnet
	url = git@framagit.org:sc/pybibnet.git
[submodule "doc/paper/20150401-WSC-paper"]
	path = doc/paper/20150401-WSC-paper
	url = git@github.com:simoncarrignon/20150401-WSC-paper.git
[submodule "doc/conferences/20151208-WSC-presentation"]
	path = doc/conferences/20151208-WSC-presentation
	url = git@github.com:simoncarrignon/20151208-WSC-presentation.git
